{% extends 'base.html.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block body %}
    <h1>Liste des catégories</h1>
    <ul>
    {% for categorie in categories %}
        <li>
            {{ categorie.titre }} - {{ categorie.description }}
            <ul>
            {% for produit in categorie.produits %}
                <li>{{ produit.titre }} ({{ produit.nbProduit }} produits)</li>
            {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
